.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 8px;
  background: #25D366; /* لون واتساب */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background: #1ebe5c;
}

